.images{
    display:flex;
    align-items:flex-start;
    transition:transform 0.5s;
}
.dad{
    border:5px grey solid;
    width:400px;
    overflow:hidden;
}
#button{
    width:400px;
    display:flex;
    justify-content:center;
}
#button button{
    margin:5px;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}
.x{
    background-color:rgba(1, 1, 10, 0.1);
}